
<footer>
    <!--Google Maps-->

    <!--End Google Maps-->

    <!--Formulaire de contact-->

    <!--Formulaire de contact-->
    
    <div class="container text-center">
        <p>&copy; MetropoleRouenSport 2018</p>
    </div>
</footer>



